{% extends "blogs/base.html" %}

{% block page_header %}
  <h3>Дописи</h3>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'blogs:new_post' %}">Додати новий допис</a>
  </p>

	{% for post in posts %}
	  <div class="card border-info mb-3">
        <div class="card-header border-info">
	      опубліковано в {{ post.date_added|date:'M d, Y H:i' }}
	       користувачем {{ post.owner }}
	      {% if user.is_authenticated and post.owner == request.user %}
	        <small><a href="{% url 'blogs:edit_post' post.id %}">
                редагувати допис</a></small>
          {% endif %}
        </div>
        <div class="card-body text-info">
          <h5 class="card-title">{{ post.title }}</h5>
  	  	  <p class="card-text">{{ post.text|linebreaks }}</p>
        </div>
      </div>
    {% empty %}
      <p>Ще не має дописів у блозі</p>
    {% endfor %}

{% endblock content %}